<!DOCTYPE html>
<html lang="en">
<head>
  <title>D-Grease - Home</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/home.css">
  
  <style>
    /* Additional Styles for Burger Menu Animation */
    .burger-menu.active .line-1 {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .burger-menu.active .line-2 {
        opacity: 0;
    }

    .burger-menu.active .line-3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }


    
    /* Dropdown Menu Styles */
    .dropdown-menu {
        display: none; 
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: white;
        padding: 10px;
        border: 1px solid #ddd;
        z-index: 999; 
    }

    .dropdown-menu.active {
        display: block;
    }

    .dropdown-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu ul li {
        padding: 5px 0;
    }

    .dropdown-menu ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .dropdown-menu ul li a:hover {
        color: #f61d15;
    }

    .nav-bar ul li a.active {
        color: #f61d15;
    }
  </style>

  <div class="header-desktop">

    <div class="logo">
      <a href="#">
        <img src="img/D-grease_logo.png" alt="D-GREASE LOGO">
      </a>
    </div>
    
    <div class="contact-info">
      <div class="phone"><a href="tel:01226777527">Speak to an expert : 01226777527</a></div>
      <div class="social-media">
        <div class="social-icon"><a href="https://www.facebook.com"><img src="img/socials/facebook_logo_white.png" alt="FaceBook Icon"></a></div> 
        <div class="social-icon"><a href="https://www.twitter.com"><img src="img/socials/X_logo_white.png" alt="X Icon"></a></div> 
      </div>
      <a href="#" class="message-button">Message Us</a> 
    </div>

    <!-- START Burger Menu -->

    <div class="burger-menu">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
    </div>

    <!-- END Burger Menu -->

    <!-- START Dropdown Menu -->

    <div class="dropdown-menu">
      <ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Products</a>
          <ul class="dropdown-menu">
            <li><a href="products/parts-washers.ejs">Parts Washers</a></li>
            <li><a href="products/spray-gun-cleaners.ejs">Spray Gun Cleaners</a></li>
            <li><a href="products/other-products.ejs">Other Products</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Services</a>
          <ul class="dropdown-menu">
            <li><a href="services/environment-waste-collections.ejs">Environment Waste Collections</a></li>
            <li><a href="services/recyclable-industrial-wipes.ejs">Recyclable Industrial Wipes</a></li>
          </ul>
        </li>
        <li><a href="online-store.ejs">Online Store</a></li>
        <li><a href="about.ejs">About Us</a></li>
        <li><a href="contact.ejs">Contact Us</a></li>
      </ul>
    </div>
  </div>

  <!-- END Dropdown Menu -->

  <!-- START Navigation Bar -->

  <div class="nav-bar">
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Products</a>
        <ul class="dropdown-menu">
          <li><a href="products/parts-washers.ejs">Parts Washers</a></li>
          <li><a href="products/spray-gun-cleaners.ejs">Spray Gun Cleaners</a></li>
          <li><a href="products/other-products.ejs">Other Products</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Services</a>
        <ul class="dropdown-menu">
          <li><a href="services/environment-waste-collections.ejs">Environment Waste Collections</a></li>
          <li><a href="services/recyclable-industrial-wipes.ejs">Recyclable Industrial Wipes</a></li>
        </ul>
      </li>
      <li><a href="online-store.ejs">Online Store</a></li>
      <li><a href="about.ejs">About Us</a></li>
      <li><a href="contact.ejs">Contact Us</a></li>
    </ul>
  </div>

  <!-- END Navigation Bar -->


  <!-- Header End -->

</head>


<body>

<!-- START section for msg -->

  <div class="new-content">
    <h2>Specialists in waste management and suppliers of <span class="bold-text">parts washers</span>, <span class="bold-text">spray gun cleaners</span>, and <span class="bold-text">brake cleaners</span>.</h2>
    <div class="buttons">
        <a href="#" class="big-button parts-washers-button">Parts Washers</a>
        <a href="#" class="big-button spray-gun-cleaners-button">Spray Gun Cleaners</a>
    </div>
  </div>

<!-- END section for msg -->

<!-- START section for Parts Washers -->

<div class="new-section">
  <div class="image">
      <img src="img/parts-wash.png" alt="Image Description">
  </div>
  
  <div class="text">
      <h3>Manual/Auto & Water/Solvent</h3>
      <h2>Parts Washers</h2>
      <p>We provide a wide range of parts washers from solvent-based to aqueous hot wash washers.</p>
      <p>You can rent, lease or buy any of our machines. We also offer maintenance contracts to keep them in the best working condition.</p>
      <p>Only D-Grease offers a wide choice of parts washer options, helping you select the best one for your needs.</p>
      <ul>
          <li>Solvent Parts Washers</li>
          <li>Aqua Parts Washer</li>
          <li>Spiral Drum</li>
          <li>Ultrasonic Cleaners</li>
      </ul>
  </div>
</div>

<!-- END section for Parts Washers -->

  <div class="badge"></div> 

</body>


<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-section footer-logo">
      <img src="img/D-grease_logo.png" alt="D-Grease Logo">
      <p>D-Grease (UK) Limited is an independent supplier of degreasing machines who have been operating now for over 15 years.</p>
    </div>
    <div class="footer-section footer-navigation">
      <h3>Navigation</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Online Store</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-section footer-products">
      <h3>Products</h3>
      <ul>
        <li><a href="#">Manual Washers</a></li>
        <li><a href="#">Automatic Washers</a></li>
        <li><a href="#">Combined Washers</a></li>
        <li><a href="#">Solvent Parts Washers</a></li>
        <li><a href="#">Aqua Parts Washer</a></li>
        <li><a href="#">Spiral Drum</a></li>
        <li><a href="#">Ultrasonic Cleaners</a></li>
      </ul>
    </div>
    <div class="footer-section footer-contact">
      <h3>Get In Touch</h3>
      <p>Call D-Grease: 01226 777 527</p>
      <p>Email D-Grease: info@d-grease.co.uk</p>
      <p>Find D-Grease: D-Grease UK Ltd, Shawfield Road, Barnsley, S71 3HS</p>
    </div>
  </div>
  <div class="footer-legal">
    <p>Website by Luke Harrison</p>
  </div>
</footer>


<script>
  
  // JavaScript to toggle the active class on click for burger menu
  const burgerMenu = document.querySelector('.burger-menu');
  const dropdownMenu = document.querySelector('.dropdown-menu');
  burgerMenu.addEventListener('click', function() {
      this.classList.toggle('active');
      dropdownMenu.classList.toggle('active');
  });

  // JavaScript to hide dropdown menu on desktop view
  window.addEventListener('resize', function() {
      if (window.innerWidth > 900) {
          dropdownMenu.classList.remove('active');
          burgerMenu.classList.remove('active');
      }
  });

  // JavaScript to prevent dropdown menu from showing when nav bar links are clicked
  document.addEventListener("DOMContentLoaded", function() {
    const burgerMenu = document.querySelector('.burger-menu');
    const navLinks = document.querySelectorAll('.nav-bar ul li a');

    burgerMenu.addEventListener('click', function() {
        this.classList.toggle('active');
    });

    navLinks.forEach(function(navLink) {
        navLink.addEventListener('click', function(event) {
            burgerMenu.classList.remove('active');
        });
    });
});

</script>
</html>
