<!DOCTYPE html>
<html lang="en">
<head>
<body>
  <header>
    </header>
  <main>
    <%- include('./home.ejs') %>  </main>
  <footer>
    </footer>
  <script src="../client/js/main.js"></script>  </body>
</html>