<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D-Grease</title>
  <link rel="stylesheet" href="../public/css/styles.css">  </head>
<body>
  <header>
    </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li>
        <a href="/products">Products</a>
        <ul> <li><a href="/products/parts-washers">Parts Washers</a></li>
          <li><a href="/products/spray-gun-cleaners">Spray Gun Cleaners</a></li>
          <li><a href="/products/other-products">Other Products</a></li>
        </ul>
      </li>
      <li>
        <a href="/services">Services</a>
        <ul> <li><a href="/services/environmental-waste-collections">Environmental Waste Collections</a></li>
          <li><a href="/services/recyclable-industrial-wipes">Recyclable Industrial Wipes</a></li>
        </ul>
      </li>
      <li><a href="/online-store">Online Store</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/careers">Careers</a></li>
    </ul>
  </nav>
  <main>
    <%- include('./home.ejs') %>  </main>
  <footer>
    </footer>
  <script src="../client/js/main.js"></script>  </body>
</html>