/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    overflow-x: hidden; 
    transition: padding-top 0.3s ease; 
}

/* Header Styles */
.header-desktop {
    background-color: white;
    padding: 10px 50px; 
    border-bottom: 2px solid #000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999; 
}

.header-desktop .logo img {
    width: auto; 
    max-width: 200px; 
    height: auto; 
    padding-top: 0; 
    transition: all 0.3s ease;
}

.header-desktop .contact-info {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.header-desktop .contact-info .phone a {
    text-decoration: none;
    font-weight: bold; 
    font-size: 18px; 
    color: #000; 
    margin-right: 20px; 
}

.header-desktop .contact-info .social-media {
    margin-right: 20px; 
    display: flex;
}

.header-desktop .contact-info .social-media .social-icon {
    width: 40px; 
    height: 40px; 
    background-color: #000000;
    margin-right: 10px;
    position: relative; 
    border-radius: 10px; 
    transition: all 0.3s ease;
}

.header-desktop .contact-info .social-media .social-icon img {
    width: 100%;
}

/* Change social icon color on hover */
.header-desktop .contact-info .social-media .social-icon:hover {
    background-color: #ffffff;
}

.header-desktop .contact-info .social-media .social-icon:hover img {
    filter: invert(100%);
}

/* Navigation Bar Styles */
.nav-bar {
    position: sticky;
    top: 0;
    background-color: black;
    padding: 10px 20px; 
    display: block; 
    transition: all 0.3s ease-in-out; 
    max-height: 100px; 
    overflow: hidden; 
    z-index: 1000; /* Ensure the navigation bar stays above other content */
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar ul li {
    display: inline;
    margin: 0 15px; 
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 5px; 
    font-size: 20px;
    font-weight: bold; 
}

.nav-bar ul li a:hover {
    color: #f61d15; 
}

.nav-bar ul li a.active {
    color: #f61d15; 
}

/* Message Us Button Styles */
.message-button {
    background-color: #f61d15; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    border: none; 
    font-size: 16px;
    font-weight: bold; 
    transition: all 0.3s ease; 
    text-decoration: none; 
    display: inline-block; 
}

.message-button:hover {
    background-color: #808080; 
    transform: scale(1.1); 
}

/* Mobile View */
@media (max-width: 900px) {
    .header-desktop {
        padding: 10px 20px; 
        justify-content: space-between; 
    }

    .header-desktop .logo img {
        width: auto; 
        max-width: 150px; 
        height: auto; 
    }

    .header-desktop .contact-info {
        display: none; 
    }

    .header-desktop .message-button {
        display: none; 
    }


    /* Burger Menu Styles */
    .burger-menu {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        width: 40px; 
        height: 40px; 
        background-color: #f61d15;
        cursor: pointer;
        border-radius: 5px; 
        position: relative; 
    }

    .line {
        width: 30px;
        height: 4px;
        background-color: white;
        position: absolute;
        transition: all 0.3s ease;
    }

    .line-1 {
        top: 12px;
    }

    .line-2 {
        top: 19px;
    }

    .line-3 {
        top: 26px;
    }

    /* Hide navigation bar */
    .nav-bar {
        max-height: 0; 
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.3s ease-in-out; 
        overflow: hidden; 
    }

    /* Dropdown Menu Styles */
    .dropdown-menu {
        display: none;
        position: absolute;
        top: calc(100% + 10px); 
        left: 0;
        background-color: white;
        padding: 10px;
        border: 1px solid #ddd;
        z-index: 999; 
        width: 100%;
        transition: top 0.3s ease, height 0.3s ease; 
        height: 0;
        overflow: hidden; 
    }
    
    .dropdown-menu.active {
        display: block;
        top: calc(100% + 20px);
        height: auto; 
    }

    .dropdown-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu ul li {
        padding: 5px 0;
    }

    .dropdown-menu ul li a {
        text-decoration: none;
        color: white; 
        font-weight: bold;
        font-size: 20px;
    }

    .dropdown-menu ul li a:hover {
        color: #f61d15;
    }

    .dropdown-menu ul li a.active {
        color: #f61d15;
    }

    body.active-dropdown {
        padding-top: 50px;
    }
}


/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 150px; /* Increased padding on left and right */
    position: relative; /* Added position relative for positioning the name */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex-basis: 20%;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 150px; /* Adjusted logo size */
    height: 50px;
}

.footer-navigation ul,
.footer-products ul {
    list-style: none;
    padding: 0;
}

.footer-navigation ul li,
.footer-products ul li {
    margin-bottom: 10px;
}

.footer-navigation a,
.footer-products a,
.footer-contact p {
    color: #fff; /* Set text color to white */
    font-size: 14px; /* Decreased font size */
    text-decoration: none; /* Remove underline */
}

.footer-navigation a:hover,
.footer-products a:hover,
.footer-contact p:hover {
    color: #f61d15; /* Red color on hover */
}

.footer-social {
    display: flex; /* Display social icons in a row */
    justify-content: flex-start; /* Align social icons to the left */
}

.footer-social a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 24px; /* Decreased font size */
    text-decoration: none;
}

.footer-social a:hover {
    color: #f61d15; /* Red color on hover */
}

.footer-legal {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
